[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
pytest-watch = "*"


[packages]

ccxt = "*"
pandas = "*"
structlog = "*"


[requires]

python_version = "3.6"
